@import 'variables';

body {
    font-family: 'Nunito', sans-serif;

}
.content{
    max-width: 560px;
    margin: auto;
    text-align: center;

    .form-inline {
        display: inline-flex;
    }
}

#board{

    .row {
        width: 560px;
        height: 50px;
    }

    .water{
        background: #2dcdef;
    }

    .grid{
        width: 49px;
        height: 49px;
        border: $gray 0.5px solid;
        display: inline-block;
        position: relative;
        margin-right: 1px;

        span {
            position: absolute;
            font-size: 16px !important;
            font-weight: 700 !important;
            top: 12px;
            left: 18px;
        }

        .icon-enemy{
            font-size: 15px;
            padding: 12px;
        }

        .attack {
            position: absolute;
            margin: 0px;
            font-size: 31px;
            top: 0px;
            left: 13px;
        }
    }
}
