body {
  font-family: "Nunito", sans-serif;
}

.content {
  max-width: 560px;
  margin: auto;
  text-align: center;
}
.content .form-inline {
  display: inline-flex;
}

#board .row {
  width: 560px;
  height: 50px;
}
#board .water {
  background: #2dcdef;
}
#board .grid {
  width: 49px;
  height: 49px;
  border: #cccccc 0.5px solid;
  display: inline-block;
  position: relative;
  margin-right: 1px;
}
#board .grid span {
  position: absolute;
  font-size: 16px !important;
  font-weight: 700 !important;
  top: 12px;
  left: 18px;
}
#board .grid .icon-enemy {
  font-size: 15px;
  padding: 12px;
}
#board .grid .attack {
  position: absolute;
  margin: 0px;
  font-size: 31px;
  top: 0px;
  left: 13px;
}
